/* About Me Section Styles */
.about {
    padding: 2em;
    /* margin: 1em 0; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Link styles for resume link */
  .resume-link {
    display: inline-block;
    padding: 10px 20px;
    /* margin-top: 1em; */
    background-color: var(--light-blue); /* 80% opacity blue background */
    color: white; /* Text color */
    border-radius: 25px; /* Round the corners to make it a bubble */
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    border: none; /* Remove any border */
    outline: none; /* Remove any outline */
    box-shadow: none; /* Remove any box-shadow */
  }
  
  .resume-link:hover {
    background-color: var(--light-blue-hover); /* Darker blue on hover with 80% opacity */
    transform: scale(1.05); /* Slightly enlarge the bubble on hover */
    box-shadow: 0 8px 16px var(--light-blue);
  }
  