.contact {
  padding: 2em;
  /* margin: 2em 0; */
  text-align: center;
}

.contact-card {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--light-blue);
  padding: 20px 30px;
  display: flex;
  flex-direction: column; /* Ensures content is stacked vertically */
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.contact-card:hover {
  transform: scale(1.1);
  /* color: #007BFF;*/
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #333; /* Dark text color for contrast */
}

.contact-info .icon {
  margin-right: 8px;
}

.contact-info .email-icon {
  color: #87CEFA; /* Light blue color for the email icon */
}

.contact-info .divider {
  margin: 0 8px;
  color: #ccc;
}

.contact-info .email-link {
  color: #007BFF; /* Light blue color for the email link */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

.contact-info .email-link:hover {
  color: #0056b3; /* Darker blue on hover */
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icon {
  font-size: 24px;
  color: #333;
  margin: 0 10px;
  transition: transform 0.2s, color 0.2s;
}

.social-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px var(--light-blue);
  /* color: #007BFF;*/
}
