header {
  background-color: transparent; /* Transparent background */
  color: black; /* Black text color */
  padding: 1em 0;
  text-align: center;
  box-shadow: none; /* Remove box shadow */
  margin-bottom: 40px; /* Add space below the header */
}

header h1 {
  /* margin-bottom: 20px; Add space below the header title */
  font-size: 2.5em; /* Larger font size for the title */
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  margin: 0 1em;
}

header nav ul li a {
  color: black; /* Black text color for links */
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px; /* Add padding for the bubble effect */
  border-radius: 20px; /* Rounded corners for the bubble effect */
  background-color: rgba(255, 255, 255, 0.8); /* Light background color for the bubble */
  transition: color 0.2s, background-color 0.2s;
}

header nav ul li a:hover {
  color: #0056b3; /* Darker blue on hover */
  background-color: rgba(255, 255, 255, 1); /* Slightly darker background on hover */
}
