.project-square {
    width: 220px;
    height: 220px;
    background-color: var(--light-blue); /* Light blue color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(75, 60, 60, 0.1);
    text-align: center;
    transition: transform 0.2s, background-color 0.2s;
  }
  
  .project-square:hover {
    transform: scale(1.1); 
    background-color: var(--light-blue-hover); 
    box-shadow: 0 8px 16px var(--light-blue);
  }
  
  .project-square h3 {
    margin: 0 0 10px 0;
  }
  
  .project-square p {
    margin: 0 0 10px 0;
    font-size: 14px;
  }
  
  .project-square a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
  }
  