/* Global CSS variables */
:root {
  --light-blue: rgba(135, 206, 250, 0.8); 
  --light-blue-hover: rgba(0, 191, 255, 0.8);
}

/* Global body styles */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  background: url('/public/background.jpg') no-repeat center center fixed; 
  background-size: cover; 
  color: #333;
  padding: 0;
  margin: 0;
}

/* Main app container styles */
.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Section styles */
section {
  padding: 2em;
  margin: 2em 0;
  background: rgba(255, 255, 255, 0.5); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-top: 0;
}

/* Header */
.header {
  position: relative;
  height: 100vh; 
  background: none; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Media Queries for Mobile */
@media only screen and (max-width: 768px) {
  body {
    background-size: cover; /* Ensure the image covers the entire background */
    background-attachment: scroll; /* Make background scroll with content */
  }

  section {
    padding: 1em;
    margin: 1em 0;
  }

  .header {
    height: auto;
    padding: 2em 1em;
  }

  .header-content {
    padding: 10px;
  }

  .header h1 {
    font-size: 2em;
  }

  .header h2 {
    font-size: 1.5em;
  }

  .App {
    padding: 10px;
  }

  .resume-link {
    padding: 10px 15px;
    font-size: 0.9em;
  }

  .project-grid {
    flex-direction: column;
    align-items: center;
  }

  .language-card {
    font-size: 14px;
    padding: 0.8em;
  }

  .contact-card-background {
    flex-direction: column;
    padding: 1em;
  }

  .social-icons {
    flex-direction: column;
    gap: 0.5em;
  }

  .social-icon {
    font-size: 1.5em;
  }
}



